%header.green.big-padding
  .col-md-10.no-float.center-block
    .col-md-6.no-padding.inline-block
      =image_tag "TiMedi.png",width:"100"
      %h1.white-text.utra-big
        %strong
        Ofrese Tus Productos Digitales
    .col-md-5.inline-block
      =image_tag "men.png"